@use '../../../../styles.scss' as *;

.footer {
    background-color: #f8f9fa;
    align-items: left;
}

.nav-link {
    color: #000;
    font-size: 14px;
    margin: 0 10px; 
}

.nav-link:hover {
    text-decoration: underline;
}
