<footer class="footer bg-light py-3">
    <div class="container d-flex">
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link">{{t('footer.about')}}</a></li>
            <li class="nav-item"><a href="#" class="nav-link">{{t('footer.terms')}}</a></li>
            <li class="nav-item"><a href="#" class="nav-link">{{t('footer.privacyCokies')}}</a></li>
            <li class="nav-item"><a href="#" class="nav-link">{{t('footer.privacy')}}</a></li>
        </ul>
    </div>
</footer>