<div class="light-background-color-bh">
    <div class="imagen-background-bh">
        <div class="w-100 m-auto max-width-bh color-opacy-bh">
            <div class="d-flex align-items-end align-items-bh">
                <div class="text-img-bh d-none d-md-block">
                    <h3 class="primary-color-bh mb-4 medium h-18">{{t('home.subtitle')}}
                    </h3>
                    <h1 class="mb-4 semibold">{{t('home.title')}}</h1>
                </div>
                <div class="d-block d-md-none">
                    <p class="primary-color-bh mb-2 medium">{{t('home.subtitle')}}
                    </p>
                    <h2 class="semibold">{{t('home.title')}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>